/* --- PERMALINKS --- */
.permalink {
	float: right;
	margin-top: -2.5em;
	/*color:#333 !important;*/
}
.permalink a, .permalink a:link, .permalink a:visited, .permalink a:hover, .permalink a:focus, .permalink a:active 
{
	background:transparent !important;
	text-decoration:none;
}
.permalink abbr {
	border:0;
}
